  <!doctype html>

  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Steve's website</title>
      <meta name="description" content="Timothée Poisot" />
  <meta name="keywords" content="forest ecology, alternative stable states, ecology, UQAR, boreal forest, temperate forest" />
    <meta name="description" content="This website provide professional informations on Steve Vissault">


    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/styles.css">


    <style>
        html {
        background: url(img/BG2.jpg)  no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="#" style="font-family:'Rancho',cursive;color:#ffffff;font-size:20px">Steve's website</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"> <a href="/">
          <span class="glyphicon glyphicon-home" style="margin-right:5px"></span> Home</a> </li>
        <li> <a href="/research/">
          <span class="glyphicon glyphicon-search" style="margin-right:5px"></span> Research</a> </li>
        <li> <a href="/paper/">
          <span class="glyphicon glyphicon-leaf" style="margin-right:5px"></span>Papers and presentations</a> </li>
        <li> <a href="/blog/">
        <span class="glyphicon glyphicon-comment" style="margin-right:5px"></span> Blog</a> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About me <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.linkedin.com/pub/steve-vissault/46/29/666">Curriculum Vitae</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li class="divider"></li>
            <li><a href="mailto:s.vissault@yahoo.fr">Send me a message</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="wrapper">
      <header>

        <img src="/img/steve5.png">
        <h1 style="font-family:'Rancho',cursive">Steve Vissault</h1>
        <p>Master's candidate in forest ecology</p>


        <h4 style="margin-top:15px">Follow me on:</h4>
        <p class="view"><a href="https://github.com/SteveViss">GitHub</a><br>
        <a href="https://www.facebook.com/steve.vissault">Facebook</a><br>
        <a href="http://www.linkedin.com/pub/steve-vissault/46/29/666">LinkedIn</a></p>

      </header>